In [2]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd
from functools import reduce

In [2]:
ProjectFolder = os.chdir(r'R:\BFA\GEO\Famine\FEWS\2021to2022')
print(os.getcwd())

R:\BFA\GEO\Famine\FEWS\2021to2022

In [33]:
CS_Oct22 = gpd.read_file('BF_202210_CS.shp')[['CS', 'geometry']]
CS_Oct22['FID'] = range(0,len(CS_Oct22))
CS_Oct22

    CS                                           geometry  FID
0    2  POLYGON ((-1.37317 13.56254, -1.37331 13.56220...    0
1    1  POLYGON ((-1.47098 12.19424, -1.46761 12.19274...    1
2    1  MULTIPOLYGON (((-1.79467 12.33975, -1.79633 12...    2
3    1  POLYGON ((-0.80457 12.72172, -0.80380 12.72158...    3
4    1  MULTIPOLYGON (((-0.45086 12.02723, -0.45058 12...    4
..  ..                                                ...  ...
60   1  POLYGON ((-3.13222 11.35645, -3.13211 11.35631...   60
61   1  POLYGON ((-4.64655 11.99682, -4.64654 11.99664...   61
62   1  POLYGON ((-3.43552 12.73888, -3.43361 12.73871...   62
63   1  POLYGON ((-2.79826 12.13549, -2.79702 12.13733...   63
64   1  POLYGON ((-4.00631 11.80702, -4.00562 11.80699...   64

[65 rows x 3 columns]

In [34]:
DFlist = [pd.DataFrame(gpd.read_file('BF_202206_CS.shp'))[['CS']],
          pd.DataFrame(gpd.read_file('BF_202202_CS.shp'))[['CS']],
          pd.DataFrame(gpd.read_file('BF_202110_CS.shp'))[['CS']],
          pd.DataFrame(gpd.read_file('BF_202106_CS.shp'))[['CS']]]
for item in DFlist:
    print(item.head())
    item['FID'] = range(0,len(item))
    print(item.head())

   CS
0   3
1   2
2   2
3   2
4   2
   CS  FID
0   3    0
1   2    1
2   2    2
3   2    3
4   2    4
   CS
0   2
1   1
2   1
3   1
4   1
   CS  FID
0   2    0
1   1    1
2   1    2
3   1    3
4   1    4
   CS
0   2
1   1
2   1
3   1
4   1
   CS  FID
0   2    0
1   1    1
2   1    2
3   1    3
4   1    4
   CS
0   2
1   1
2   1
3   1
4   1
   CS  FID
0   2    0
1   1    1
2   1    2
3   1    3
4   1    4

In [35]:
DFlist[0] = DFlist[0].rename(columns={"CS": "01Jun22"})
DFlist[1] = DFlist[1].rename(columns={"CS": "01Feb22"})
DFlist[2] = DFlist[2].rename(columns={"CS": "01Oct21"})
DFlist[3] = DFlist[3].rename(columns={"CS": "01Jun21"})
for item in DFlist:
    print(item.head())

   01Jun22  FID
0        3    0
1        2    1
2        2    2
3        2    3
4        2    4
   01Feb22  FID
0        2    0
1        1    1
2        1    2
3        1    3
4        1    4
   01Oct21  FID
0        2    0
1        1    1
2        1    2
3        1    3
4        1    4
   01Jun21  FID
0        2    0
1        1    1
2        1    2
3        1    3
4        1    4

In [36]:
CS_Oct22 = CS_Oct22.rename(columns={"CS": "01Oct22"})
print(CS_Oct22.head())

   01Oct22                                           geometry  FID
0        2  POLYGON ((-1.37317 13.56254, -1.37331 13.56220...    0
1        1  POLYGON ((-1.47098 12.19424, -1.46761 12.19274...    1
2        1  MULTIPOLYGON (((-1.79467 12.33975, -1.79633 12...    2
3        1  POLYGON ((-0.80457 12.72172, -0.80380 12.72158...    3
4        1  MULTIPOLYGON (((-0.45086 12.02723, -0.45058 12...    4

In [37]:
DFlist = [CS_Oct22] + DFlist

FEWS = reduce(lambda left,right: pd.merge(left,right,on=['FID'], how='left'), DFlist)
print(FEWS.sample(5), FEWS.info())

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 65 entries, 0 to 64
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   01Oct22   65 non-null     int64
 1   geometry  65 non-null     geometry
 2   FID       65 non-null     int64
 3   01Jun22   65 non-null     int64
 4   01Feb22   65 non-null     int64
 5   01Oct21   65 non-null     int64
 6   01Jun21   65 non-null     int64
dtypes: geometry(1), int64(6)
memory usage: 4.1 KB
    01Oct22                                           geometry  FID  01Jun22  \
57        1  POLYGON ((-4.22317 12.71691, -4.21969 12.71633...   57        1
49        2  POLYGON ((-3.96031 13.38259, -3.94660 13.37672...   49        3
4         1  MULTIPOLYGON (((-0.45086 12.02723, -0.45058 12...    4        2
10        2  POLYGON ((-0.86818 13.86807, -0.86420 13.86710...   10        3
29        1  POLYGON ((-0.51396 11.99795, -0.51378 11.99753...   29        1

    01Feb22  01Oct21  01Jun21
57        1        1        1
49        1        1        1
4         1        1        1
10        2        2        2
29        1        1        1   None

In [38]:
FEWS = FEWS.melt(id_vars=['FID', 'geometry'], var_name='time_start', value_name='CS')
print(FEWS.sample(5), FEWS.info())

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FID         325 non-null    int64
 1   geometry    325 non-null    geometry
 2   time_start  325 non-null    object
 3   CS          325 non-null    int64
dtypes: geometry(1), int64(2), object(1)
memory usage: 10.3+ KB
     FID                                           geometry time_start  CS
111   46  POLYGON ((-5.08842 10.82637, -5.08831 10.82625...    01Jun22   1
140   10  POLYGON ((-0.86818 13.86807, -0.86420 13.86710...    01Feb22   2
103   38  POLYGON ((-3.77300 10.84796, -3.77186 10.84612...    01Jun22   1
5      5  POLYGON ((-1.71300 12.89326, -1.71048 12.89159...    01Oct22   1
63    63  POLYGON ((-2.79826 12.13549, -2.79702 12.13733...    01Oct22   1 None

In [39]:
FEWS['time_end'] = 'placeholder'

FEWS.loc[FEWS['time_start'] == "01Jun21", 'time_end'] = '30Sep21'
FEWS.loc[FEWS['time_start'] == "01Oct21", 'time_end'] = '31Jan22'
FEWS.loc[FEWS['time_start'] == "01Feb22", 'time_end'] = '31May22'
FEWS.loc[FEWS['time_start'] == "01Jun22", 'time_end'] = '30Sep22'
FEWS.loc[FEWS['time_start'] == "01Oct22", 'time_end'] = '31Jan23'

In [40]:
FEWS.sort_values('FID', ascending=False).head(20)

,FID,geometry,time_start,CS,time_end
324,64,"POLYGON ((-4.00631 11.80702, -4.00562 11.80699...",01Jun21,1,30Sep21
259,64,"POLYGON ((-4.00631 11.80702, -4.00562 11.80699...",01Oct21,1,31Jan22
129,64,"POLYGON ((-4.00631 11.80702, -4.00562 11.80699...",01Jun22,1,30Sep22
64,64,"POLYGON ((-4.00631 11.80702, -4.00562 11.80699...",01Oct22,1,31Jan23
194,64,"POLYGON ((-4.00631 11.80702, -4.00562 11.80699...",01Feb22,1,31May22
323,63,"POLYGON ((-2.79826 12.13549, -2.79702 12.13733...",01Jun21,1,30Sep21
193,63,"POLYGON ((-2.79826 12.13549, -2.79702 12.13733...",01Feb22,1,31May22
128,63,"POLYGON ((-2.79826 12.13549, -2.79702 12.13733...",01Jun22,2,30Sep22
258,63,"POLYGON ((-2.79826 12.13549, -2.79702 12.13733...",01Oct21,1,31Jan22
63,63,"POLYGON ((-2.79826 12.13549, -2.79702 12.13733...",01Oct22,1,31Jan23
62,62,"POLYGON ((-3.43552 12.73888, -3.43361 12.73871...",01Oct22,1,31Jan23
192,62,"POLYGON ((-3.43552 12.73888, -3.43361 12.73871...",01Feb22,1,31May22
127,62,"POLYGON ((-3.43552 12.73888, -3.43361 12.73871...",01Jun22,1,30Sep22
257,62,"POLYGON ((-3.43552 12.73888, -3.43361 12.73871...",01Oct21,1,31Jan22
322,62,"POLYGON ((-3.43552 12.73888, -3.43361 12.73871...",01Jun21,1,30Sep21
61,61,"POLYGON ((-4.64655 11.99682, -4.64654 11.99664...",01Oct22,1,31Jan23
321,61,"POLYGON ((-4.64655 11.99682, -4.64654 11.99664...",01Jun21,1,30Sep21
256,61,"POLYGON ((-4.64655 11.99682, -4.64654 11.99664...",01Oct21,1,31Jan22
191,61,"POLYGON ((-4.64655 11.99682, -4.64654 11.99664...",01Feb22,1,31May22
126,61,"POLYGON ((-4.64655 11.99682, -4.64654 11.99664...",01Jun22,1,30Sep22

In [41]:
FEWS.to_file('FEWS_CurrentSit_2021to2022.shp')

In [3]:
Conflict = pd.DataFrame(gpd.read_file('R:\BFA\GEO\CurrentGDBs\BFA_GeoWB_atlas\BFA_GeoWB_atlas\BFA_GeoWB_atlas.gdb', 
                         layer='MultiYear_Dashboard_v1'))[['year', 'ID']]
Conflict

       year   ID
0       NaN    1
1    2019.0    2
2    2017.0    3
3    2018.0    4
4    2019.0    5
..      ...  ...
804  2018.0  805
805  2022.0  806
806     NaN  807
807  2018.0  808
808     NaN  809

[809 rows x 2 columns]

In [5]:
Conflict['time_end'] = 'NA'

for year in range(2010, 2023):
    Conflict.loc[Conflict['year'] == year, 'time_end'] = '31Dec' + str(year)[2:]
Conflict

       year   ID time_end
0       NaN    1       NA
1    2019.0    2  31Dec19
2    2017.0    3  31Dec17
3    2018.0    4  31Dec18
4    2019.0    5  31Dec19
..      ...  ...      ...
804  2018.0  805  31Dec18
805  2022.0  806  31Dec22
806     NaN  807       NA
807  2018.0  808  31Dec18
808     NaN  809       NA

[809 rows x 3 columns]

In [6]:
Conflict.to_csv(r'R:\BFA\GEO\CurrentGDBs\BFA_GeoWB_atlas\BFA_GeoWB_atlas\TEMP_Dashboard_end.csv')

In [3]:
Sites = pd.read_csv(r'C:\Users\wb527163\GEO_Cdrive_Grace\Chad_Cdrive\PAD_calculations_UrbanEastBreakdowns.csv')
Sites

,Camp,ID,prov_cap,dep_cap,Area,AllUrban_WPop,0F_WPop,1F_WPop,5F_WPop,10F_WPop,...,35M_WPop,40M_WPop,45M_WPop,50M_WPop,55M_WPop,60M_WPop,65M_WPop,70M_WPop,75M_WPop,80M_Wpop
0,Tissi,NaN,NaN,Tissi,0.000236,3750,72,270,330,277,...,67,54,56,44,34,34,29,16,12,9
1,NaN,NaN,NaN,NaN,0.000234,3930,76,283,346,290,...,70,56,59,46,36,36,30,17,13,10
2,NaN,NaN,NaN,NaN,0.000194,3218,62,232,283,237,...,57,46,48,38,29,29,25,14,10,8
3,Goz Amir,NaN,NaN,NaN,0.000528,8679,167,625,763,640,...,154,124,131,102,79,79,66,38,28,21
4,NaN,86.0,GOZ-BEIDA,KOUKOU-ANGARANA,0.000226,3850,74,277,339,284,...,68,55,58,45,35,35,29,17,12,9
5,Djabal,85.0,GOZ-BEIDA,GOZ-BEIDA,0.000163,2804,54,202,247,207,...,50,40,42,33,26,25,21,12,9,7
6,NaN,NaN,NaN,NaN,0.000699,12215,235,880,1075,901,...,217,175,184,143,112,111,93,54,40,30
7,NaN,NaN,NaN,NaN,0.000164,2231,43,161,196,165,...,40,32,34,26,20,20,17,10,7,5
8,NaN,NaN,NaN,NaN,0.000385,4896,94,353,431,361,...,87,70,74,57,45,44,37,22,16,12
9,NaN,84.0,GOZ-BEIDA,ADE,0.000283,4046,78,291,356,298,...,72,58,61,47,37,37,31,18,13,10
10,NaN,NaN,NaN,NaN,0.000078,1016,20,73,89,75,...,18,15,15,12,9,9,8,4,3,2
11,NaN,79.0,ABECHE,AM-DAM,0.000152,2514,48,181,221,185,...,45,36,38,29,23,23,19,11,8,6
12,NaN,NaN,NaN,NaN,0.000132,2513,48,181,221,185,...,45,36,38,29,23,23,19,11,8,6
13,NaN,83.0,GOZ-BEIDA,ABDI,0.000392,6874,132,495,605,507,...,122,99,103,80,63,62,52,30,22,17
14,NaN,NaN,NaN,NaN,0.000138,1776,34,128,156,131,...,32,25,27,21,16,16,14,8,6,4
15,NaN,NaN,NaN,NaN,0.000096,1263,24,91,111,93,...,22,18,19,15,12,11,10,6,4,3
16,Bredjing,NaN,NaN,NaN,0.000319,4484,86,323,394,331,...,80,64,67,53,41,41,34,20,15,11
17,Farchana,NaN,NaN,NaN,0.000723,8887,171,640,782,655,...,158,127,134,104,81,81,68,39,29,22
18,Gaga,NaN,NaN,NaN,0.000212,3242,62,234,285,239,...,58,46,49,38,30,29,25,14,11,8
19,NaN,NaN,NaN,Adre,0.000792,13521,261,974,1189,997,...,240,194,203,158,124,123,103,59,44,33
20,NaN,NaN,NaN,NaN,0.000159,1639,32,118,144,121,...,29,23,25,19,15,15,12,7,5,4
21,NaN,NaN,NaN,NaN,0.000074,871,17,63,77,64,...,15,12,13,10,8,8,7,4,3,2
22,NaN,NaN,NaN,NaN,0.000085,1117,22,80,98,82,...,20,16,17,13,10,10,9,5,4,3
23,NaN,NaN,NaN,NaN,0.000110,1576,30,114,139,116,...,28,23,24,18,14,14,12,7,5,4
24,NaN,NaN,NaN,NaN,0.000110,1492,29,107,131,110,...,26,21,22,17,14,14,11,7,5,4
25,NaN,NaN,NaN,NaN,0.000211,3953,76,285,348,292,...,70,57,59,46,36,36,30,17,13,10
26,NaN,76.0,ABECHE,ABECHE,0.003528,80859,1558,5823,7113,5963,...,1435,1159,1217,947,740,733,616,356,262,197
27,NaN,NaN,NaN,NaN,0.000136,1363,26,98,120,101,...,24,20,21,16,12,12,10,6,4,3
28,Treguine,NaN,NaN,NaN,0.000271,4351,84,313,383,321,...,77,62,65,51,40,39,33,19,14,11
29,NaN,98.0,BILTINE,ARADA,0.000417,6686,129,482,588,493,...,119,96,101,78,61,61,51,29,22,16
30,NaN,NaN,NaN,NaN,0.000165,2259,44,163,199,167,...,40,32,34,26,21,20,17,10,7,6
31,NaN,NaN,NaN,NaN,0.000061,923,18,66,81,68,...,16,13,14,11,8,8,7,4,3,2
32,NaN,NaN,NaN,NaN,0.000125,2073,40,149,182,153,...,37,30,31,24,19,19,16,9,7,5
33,NaN,NaN,NaN,NaN,0.000111,1659,32,119,146,122,...,29,24,25,19,15,15,13,7,5,4
34,NaN,99.0,BILTINE,BILTINE,0.001088,22925,442,1651,2017,1691,...,407,329,345,268,210,208,175,101,74,56
35,NaN,97.0,BILTINE,AM-ZOER,0.000136,2323,45,167,204,171,...,41,33,35,27,21,21,18,10,8,6
36,Kounoungou,NaN,NaN,NaN,0.000169,3544,68,255,312,261,...,63,51,53,41,32,32,27,16,11,9
37,Mile,NaN,NaN,NaN,0.000212,4026,78,290,354,297,...,71,58,61,47,37,36,31,18,13,10
38,NaN,NaN,NaN,NaN,0.000285,4713,91,339,415,348,...,84,68,71,55,43,43,36,21,15,12
39,NaN,100.0,BILTINE,GUEREDA,0.000251,4905,95,353,431,362,...,87,70,74,57,45,44,37,22,16,12
40,AmnAback,NaN,NaN,NaN,0.000227,4321,83,311,380,319,...,77,62,65,51,40,39,33,19,14,11
41,Touloum,NaN,NaN,NaN,0.000249,5338,103,384,470,394,...,95,77,80,63,49,48,41,23,17,13
42,Iridimi,NaN,NaN,NaN,0.000314,6115,118,440,538,451,...,109,88,92,72,56,55,47,27,20,15
43,NaN,101.0,BILTINE,IRIBA,0.000456,11611,224,836,1021,856,...,206,166,175,136,106,105,88,51,38,28
44,NaN,NaN,NaN,NaN,0.000723,17370,335,1251,1528,1281,...,308,249,261,203,159,157,132,76,56,42
45,NaN,NaN,NaN,Bahai,0.000342,16608,320,1196,1461,1225,...,295,238,250,194,152,151,127,73,54,41
46,Ouré Cassoni,NaN,NaN,NaN,0.000517,28980,559,2087,2549,2137,...,514,415,436,339,265,263,221,127,94,71
47,Kouchaguine Moura,NaN,NaN,NaN,0.000099,1110,21,80,98,82,...,20,16,17,13,10,10,8,5,4,3
48,NaN,102.0,BILTINE,MATADJANA,0.000110,1791,35,129,158,132,...,32,26,27,21,16,16,14,8,6,4
49,NaN,77.0,ABECHE,ABOUGOUDAM,0.000278,3264,63,235,287,241,...,58,47,49,38,30,30,25,14,11,8